    {{#if anime}}

        <div class="container-fluid py-5 text-center">
                <div class="container">
                    <h2 class="display-5 fw-bold">{{anime.nombre}}</h2>
                    <small>id: {{anime.id}}</small>
                </div>
                <div class="d-block justify-content-center">
                    <div class="col-lg-4 col-md-12 fs-4 my-4 mx-auto">
                        <h3>Generos</h3>
                        <div class="btn-group-toogle" role="group">
                            {{#each anime.genero}}
                                <input type="checkbox" checked class="btn-check" autocomplete="off" name="genero" value="{{this}}">
                                <label class="btn btn-outline-success text-center my-1" for="genero-{{this}}">{{this}}</label>
                            {{/each}}
                        </div>
                    </div>
                    <div class="row justify-content-center mx-auto my-4 fs-4">
                        <div class="col-lg-4 col-md-12">
                            <h3>Lanzamiento</h3>
                            <p>{{anime.año}}</p>
                            <h3>Autor</h3>
                            <p>{{anime.autor}}</p>
                        </div>
                        <div class="col-lg-4 col-md-12">
                            <h3>Estudio</h3>
                            <p>{{anime.estudio}}</p>
                            {{#if anime.protagonistas}}
                            <h3>Protagonistas</h3>
                            <ul class="list-group">
                                {{#each anime.protagonistas}}
                                <li class="list-group-item">{{this}}</li>
                                {{/each}}
                            </ul>
                            {{/if}}
                        </div>
                    </div>
                </div>
                
                <div id='button-container' class="my-4 mx-auto col-lg-8 col-md-12">
                    <button type="button" data-id="{{anime.id}}" data-type='editar' class="btn btn-warning col-lg-4 m-2">Editar Anime</button>
                    <button type="button" data-id="{{anime.id}}" data-type='eliminar'class="btn btn-danger col-lg-4 m-2">Eliminar Anime</button>
                </div>
        </div>
    {{else}}
        <h2 class='text-center'>No hay detalles del animé indicado.</h2>
    {{/if}}
</div>

<script>
    console.log('js anime_single');
    let buttons = document.getElementById('button-container');
    buttons.addEventListener('click', async event => {
        const button = event.target.closest('.btn');
        if(button.dataset.type == 'editar'){
            const id= button.dataset.id;
            console.log('editar:: '+id);
            window.location=`/animes/editar/${id}`;
            
        } else if (button.dataset.type == 'eliminar') {
            const id= button.dataset.id;
            const confirmacion = await confirm("¿Estás seguro de eliminar este anime?");
            if(confirmacion){
                let response = await fetch("/api/vi/animes/"+id,{
                    method: "DELETE"
                });
                response = await response.text();
                alert(response);
                location.href =`/animes`;
            }
        }
    });

</script>