<div data-id="{{@key}}" class="card my-3 p-0 shadow rounded border-info bg-white">
    <div class="card-body text-center py-2">
        <h4 class="card-title m-auto">{{this.nombre}}</h4>
        <small class="card-subtitle m-auto">id: {{@key}}</small>
        <p class="card-text">
            <ul class="list-group list-group-flush">
                <li class="list-group-item"><small>Lanzamiento: </small>{{this.año}}</li>
                <li class="list-group-item"><small>Autor: </small>{{this.autor}}</li>
                <li class="list-group-item"><small>Protagonistas: </small>
                {{#each this.protagonistas}}
                    {{this}} 
                {{/each}}
                </li>
            </ul>
        </p>
    </div>
</div>
