
    <form>
        <div class="d-block py-4 shadow">
            <div class="row my-4 mx-auto col-lg-12  justify-content-center">
                <label for="nombre" class="col-lg-4 col-form-label">
                    Nombre
                </label>
                <div class="col-lg-6 col-md-12">
                    <input class="form-control" 
                        type="text" 
                        name='nombre' 
                        id="nombre"
                        placeholder="de preferencia el hombre original..." 
                        required
                    >
                </div>
            </div>

            <div class="row my-4 mx-auto col-lg-12  justify-content-center">
                <label for="genero" class="col-lg-12 col-form-label">
                    Generos
                </label>
                {{#if generos}}
                    <div class="col-lg-8">
                        <!-- <div class="d-grid gap-2 d-lg-block"> -->
                        <div class="btn-group-toggle" role="group">
                        {{#each generos}}
                            <input class="btn-check" 
                                type="checkbox" 
                                autocomplete="off" 
                                name="genero-{{this}}" 
                                id="genero-{{this}}" 
                                value="{{this}}" 
                                aria-pressed="false">
                            <label class="btn btn-outline-success text-center my-1" 
                                for="genero-{{this}}" > {{this}} </label>
                        {{/each}}
                        </div>
                    </div>
                {{else}}
                    <div class="col-lg-8">
                        <input class="btn-check" type="checkbox" checked  disabled autocomplete="off" name="genero-no-disponible" id="genero-no-disponible" value="genero-no-disponible" aria-pressed="false">
                        <label class="btn btn-outline-success text-center my-1 " for="genero-no-disponible" > No hay generos disponibles </label>
                    </div>
                {{/if}}
                    
            </div>

            <div class="row my-4 mx-auto col-lg-12  justify-content-center">
                <label for="año" class="col-lg-4 col-form-label">
                    Año de estreno
                </label>
                <div class="col-lg-6 col-md-12">
                    <select class="form-select d-block w-100 text-center" name="año" required>
                    </select>
                </div>
            </div>

            <div class="row my-4 mx-auto col-lg-12  justify-content-center">
                <label for="autor" class="col-lg-4 col-form-label">
                    Autor
                </label>
                <div class="col-lg-6 col-md-12">
                    <input class="form-control"
                        type="text" 
                        name='autor' 
                        id="autor" 
                        required
                    >
                </div>
            </div>

            <div class="row my-4 mx-auto col-lg-12  justify-content-center">
                <label for="autor" class="col-lg-4 col-form-label">
                    Autor
                </label>
                <div class="col-lg-6 col-md-12">
                    <input class="form-control"
                        type="text" 
                        name='autor' 
                        id="autor" 
                        required
                    >
                </div>
            </div>
            
        
            <div class="mt-4 mx-auto col-lg-12">
                <button type="submit" class="btn btn-success"> {{submit}} </button>    
            </div>

        </div>
    </form>

<!-- forma descubierta al peo kjakja-->
    <script>
        const form = document.querySelector('form');
        const select = form.querySelector('select[name="año"]');
        const esteAnio = new Date().getFullYear();
        const anioMinimo = 1900;
        for (let i = esteAnio; i >= anioMinimo; i--) {
            const option = document.createElement('option');
            option.value = i;
            option.textContent = i;
            select.appendChild(option);
        }
        
        form.addEventListener('submit', async event => {
            event.preventDefault();
            console.log(form['nombre'].value)

            //header para enviar el json por post al backend
            const headers = new Headers();
            headers.append("Content-Type", "application/json");

            allBtnCheck = form.querySelectorAll('.btn-check');
            seleccionados = [];

            allBtnCheck.forEach(element => {
                if(element.checked) {
                    seleccionados.push(element.value)
                }
            });

            let anime = {
                nombre: form['nombre'].value,
                genero: seleccionados,
                año: form['año'].value,
                autor: form['autor'].value,
            }
            try{
                let response = await fetch('/api/v1/animes',{
                    method:'POST',
                    headers: headers,
                    body: JSON.stringify(anime)
                });
                let data = await response.json();
                if (data.code == 201){
                    alert(`${data.message} :: ${data.code}`);
                    form.reset();
                    location.href = '/animes/';
                } else {
                    alert('Error FRONTEND en crear el anime');
                }
            } catch(error) {
                alert(error.message);
            }

            

        });
        
    </script>
   