<div class="position-relative overflow-hidden m-0 py-3 text-center bg-body-tertiary">
  <form id="detalles" data-id="{{id}}" class="row m-0 p-0">
    <div class="card mb-3 mx-auto border-0">
      <div class="row g-0 justify-content-md-center justify-content-md-around ">
        <div class="col-12 col-md-8 col-lg-5 px-2">
          <div class="card-body">
            <h4 class="card-title"></h4>
            <h6 class="card-subtitle text-muted"></h6>
          </div>
          {{!-- Titulo--}}
          <div class="form-floating mb-3">
            <input type="text" class="form-control-plaintext" readonly id="genero" name="genero" placeholder="Genero">
            <label for="genero">Genero</label>
          </div>
          {{!-- Titulo--}}
          <div class="form-floating mb-3">
            <input type="text" class="form-control-plaintext" readonly id="genero" name="genero" placeholder="Genero">
            <label for="genero">Genero</label>
          </div>
          {{!-- genero --}}
          <div class="form-floating mb-3">
            <input type="text" class="form-control-plaintext" readonly id="genero" name="genero" placeholder="Genero">
            <label for="genero">Genero</label>
          </div>
          {{!-- autor --}}
          <div class="form-floating mb-3">
            <input type="text" class="form-control-plaintext" readonly name="autor" id="autor" placeholder="Autor">
            <label for="autor">Autor</label>
          </div>
          {{!-- año --}}
          <div class="form-floating mb-3">
            <input type="text" class="form-control-plaintext" readonly name="año" id="año" placeholder="Año"
              value="tipleG Spa.">
            <label for="año" class="form-label">Año de estreno</label>
          </div>
          {{!-- estudio --}}
          <div class="form-floating mb-3">
            <input type="text" class="form-control-plaintext" readonly name="estudio" id="estudio" placeholder="Estudio"
              value="tipleG Spa.">
            <label for="estudio" class="form-label">Estudio</label>
          </div>
          {{!-- protagonistas --}}
          <div class="form-floating mb-3">
            <input type="text" class="form-control-plaintext" readonly name="protagonistas" id="protagonistas"
              placeholder="Protagonistas" value="yo, tu, ellos">
            <label for="protagonistas">Protagonistas</label>
          </div>
          {{!-- imagen --}}
          <div class="form-floating mb-3 d-none">
            <label for="imagen">Elige una</label>
            <input type="file" class="form-control" readonly name="imagen" id="imagen" placeholder="Imagen">
          </div>
        </div>
        {{#if id}}
        <p class="card-text col-12 fs-6 text-center">Opciones</p>
        <div id="acciones" class="card-body col-12">
          <a href="#" data-id="{{id}}" class="card-link btn btn-warning">Editar</a>
          <a href="#" data-id="{{id}}" class="card-link btn btn-danger">Eliminar</a>
        </div>
        <div id="acciones-editar" class="card-body col-12 d-none">
          <button type="submit" data-id="{{id}}" class="card-link btn btn-success">Guardar</button>
          <a href="#" class="card-link btn btn-secondary">Cancelar</a>
        </div>
        {{else}}
        <div class="card-body col-12">
          <a href="#" class="card-link btn btn-success">Guardar</a>
          <a href="#" class="card-link btn btn-secondary">Cancelar</a>
        </div>
        {{/if}}

      </div>
    </div>
  </form>
</div>